@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global */
:root {
  --main-purple: #9873FF;
  --gray: #B0B0B0;
  --red: #F06A4D;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding-bottom: 50px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #E5E5E5;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

/* Header */
.header {
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1366px;
  height: 90px;
  margin: 0 auto;
  padding: 20px;
}

.header__autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-item {
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  background-color: #fff;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {

  background-color: DodgerBlue !important;
  color: #ffffff;
}

.header__logo {
  margin-right: 53px;
}

.header__input {
  width: 581px;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__input::placeholder {
  color: var(--gray);
  font-size: 14px;
  line-height: 19px;
}

/* clients */
.clients {
  max-width: 1226px;
  padding: 40px 20px 0;
  margin: 0 auto;
  overflow-x: auto;
}

.clients__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.clients-table {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}

.clients-table__thead-th {
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--gray);
  text-align: left;
  vertical-align: bottom;
  cursor: pointer;
}

.clients-table__thead-th_id {
  padding-left: 20px;
  color: var(--main-purple);
}

.clients-table__thead-th_name {
  min-width: 185px;
}

.clients-table__thead-name_color {
  color: var(--main-purple);
}

.clients-table__thead-th_contacts,
.clients-table__thead-th_actions {
  cursor: default;
}

.clients-table__thead-th_actions {
  min-width: 200px;
}

.clients-table__thead-th svg {
  vertical-align: bottom;
}

.not-found {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 30px;

}

.table-tr {
  background-color: #fff;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
  transition: all .2s ease;
}

.table-tr.in-search {
  background-color: rgba(216, 216, 16, 0.199);
}

.table-td {
  padding: 0 5px;
}

.table-td_id {
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.table-td_contacts {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 120px;
}

.table-contacts-link {
  width: 16px;
  margin-right: 7px;
  height: 16px;
  cursor: pointer;
  opacity: .8;
  transition: all .2s ease-in-out;
}

.table-contacts-link:hover {
  opacity: 1;
}


.table-contacts-link_more {
  padding: 1px 3px 1px 1px;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  border: 1px solid var(--main-purple);
  border-radius: 10px;
  cursor: pointer;
}

.table-td_contacts>.table-contacts-link:last-child,
.table-td_contacts>.table-contacts-link:nth-child(5) {
  margin-right: 0;
}

.table-td_actions {
  padding-right: 20px;
}

.change-client-btn {
  display: inline-block;
  margin-right: 30px;
  transition: all .2s ease;
}

.change-client-btn svg {
  vertical-align: bottom;
}

.change-client-btn.is-animated {
  color: var(--main-purple);
}

.change-client-btn:hover{
  color: var(--main-purple);
}

.delete-client-btn {
  display: inline-block;
  margin-left: auto;
  transition: all .2s ease;
}

.delete-client-btn:hover {
  color: var(--red);
}

.delete-client-btn svg {
  vertical-align: sub;
}

.add-client-btn {
  padding: 12px 26px;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-purple);
  border: 1px solid var(--main-purple);
  transition: all .3s ease;
}

.add-client-btn svg {
  vertical-align: -10%;
}

.add-client-btn svg path {
  transition: all .3s ease;
}

.add-client-btn:hover {
  color: #fff;
  background-color: #B89EFF;
}

.add-client-btn:hover svg path {
  fill: #fff;
}

.add-client-btn:active {
  color: #fff;
  background-color: #8052FF;
}

.add-client-btn:active svg path {
  fill: #fff;
}

/* Модальное окно с данными клиента */
.new-client-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 10;
}

.new-client-box.modal-open {
  opacity: 1;
  visibility: visible;
}


.new-client {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 450px;
  min-height: 400px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(60deg);
  transition: all .4s ease;
  z-index: 100;
}

.new-client.modal-open {
  transform: perspective(600px) translate(0px, -0%) rotateX(0deg);
  opacity: 1;
}

.new-client-title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

#client-form {
  width: 100%;
}

.new-client-form__label {
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
  cursor: pointer;
}

.new-client-form__input {
  margin-bottom: 32px;
  padding-bottom: 4px;
  height: 1px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
  transition: all .2s ease;
}

.new-client-form__input.error {
  border-color: var(--red);
}

.new-client-form__input.is-active,
.new-client-form__input:focus {
  height: 27px;

}


.new-client-form__input:focus-visible {
  outline: none;
}

#new-client-last-name {
  margin-bottom: 24px;
}

.form-input-error {
  font-size: 10px;
  line-height: 14px;
  color: var(--red);
}

.add-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px 30px;
  margin: 0 -30px;
  margin-bottom: 24px;
  background-color: rgba(200, 197, 209, 0.2);
}

.add-contact.is-open {
  padding: 25px 30px;
}

.add-contact__btn {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}



.add-contact__btn svg {
  vertical-align: -10%;
  transition: all .2s ease-in-out;
}



.add-contact__btn:hover{
  color: var(--main-purple);
}

.add-contact__btn:active{
  color: #8052FF;
}


.new-contact {
  margin-bottom: 15px;
  height: 37px;
}




.new-client-exit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all .2s ease;
}

.new-client-exit-btn svg path {
  transition: all .2s ease;
}

.new-client-exit-btn:hover svg path {
  fill: var(--main-purple);
}

.new-client-exit-btn:active svg path {
  fill: #8052FF;
}

.select__toggle {
  padding: 5px 8px 5px 12px;
  height: 100%;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  border-radius: 0;
}

.select__toggle::after {
  background-image: url('../img/arrow_back.svg');
}

.select__dropdown {
  top: 37px;
  font-size: 12px;
  line-height: 16px;
  background-color: #F4F3F6;
  border: 1px solid #C8C5D1;
  border-top: none;
  border-radius: 0;
}

.select__option_selected {
  background-color: inherit;
}

.select__option_selected::after {
  background-image: none;
}

.select__option:hover {
  background-color: #E7E5EB;
}

.new-contact-input {
  width: 240px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #C8C5D1;
  border-left: none;
  border-right: none;
}

.new-contact-input::placeholder {
  color: var(--gray);
}

.new-contact-input:focus-visible {
  outline: none;
}

.new-contact__btn {
  display: inline-block;
  padding: 10px 7px;
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  cursor: pointer;
  transition: all .3s ease;
}

.new-contact__btn svg path {
  transition: all .3s ease;
}

.new-contact__btn:hover {
  border-color: var(--red);
}

.new-contact__btn:hover svg path {
  fill: var(--red);
}

.error-server {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  max-width: 100px;
  font-size: 10px;
  line-height: 14px;
  color: var(--red);
  text-align: center;
}

.error-server.is-hidden {
  display: none;
}

.save-btn {
  display: inline-block;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-color: var(--main-purple);
  transition: all .2s ease-in-out;
}


.save-btn:hover,
.delete-box__delete-btn:hover  {
  background-color: #B89EFF;
}

.save-btn:active,
.delete-box__delete-btn:active  {
  background-color: #8052FF;
}

.cancel-btn {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  transition: all .2s ease;
}

.cancel-btn:hover {
  color: var(--main-purple);
}

.cansel-btn.is-hidden,
.new-client-form__delete-btn.is-hidden {
  display: none;
}

.new-client-form__delete-btn {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  transition: all .2s ease;
}

.new-client-form__delete-btn:hover {
  color: var(--main-purple);
}


/* Окно удаления клиента */
.delete-box {
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 450px;
  max-height: 215px;
  background-color: #fff;
  opacity: 0;
  transform: scale(0, 0);
  transition: all .4s ease;
  z-index: 1000;
}

.delete-box.modal-open {
  opacity: 1;
  transform: none;
}

.delete-box__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.delete-box__descr {
  margin: 0;
  margin-bottom: 25px;
  max-width: 275px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.delete-box__delete-btn {
  padding: 12px 35px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-color: var(--main-purple);
  transition: all .3s ease;
}

.delete-box__cancel-btn {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  transition: all .3s ease;
}

.delete-box__cancel-btn:hover {
  color: var(--main-purple);
}

.exit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all .3s ease;
}

.exit-btn svg path {
  transition: all .3s ease;
}

.exit-btn:hover svg path {
  fill: var(--main-purple);
}

.exit-btn:active svg path {
  fill: #8052FF;
}







.is-hidden {
  display: none;
}

.table-preload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #fff;
}

@keyframes preload {
  100% {
    transform: rotate(360deg);
  }
}

.table-preload svg,
.change-client-btn.is-animated svg,
.save-btn svg {
  animation: preload 2s infinite linear;
}



.new-client-form {
  display: flex;
  flex-direction: column;
}

.new-contact {
  display: flex;
}

.new-contact-error {
  background-color: rgba(253, 1, 1, 0.425);

}

.new-contact-error.new-contact-input::placeholder {
  color: #333 ;
}

.sort-down svg {
  transform: rotate(180deg);
}

@media (max-width: 1025px) {

  .clients-table__thead-th_create {
    padding-right: 40px;
  }

  .clients-table__thead-th_change {
    padding-right: 60px;
  }

  .table-td_actions {
    padding-left: 0;
  }

  .change-client-btn {
    margin-right: 20px;
  }
}

@media (max-width: 965px) {
  .table-td_id {
    font-size: 9px;
  }

  .clients-table__thead-th_create,
  .clients-table__thead-th_change  {
    padding-right: 0;
  }


  .table-td_create,
  .table-td_change {
    width: 83px;
  }

  .table-td_create span,
  .table-td_change span {
    display: block;
  }

  .clients-table__thead-th_actions {
    min-width: 0;
    width: 100px;
  }


  .change-client-btn {
    display: block;
    width: 85px;
    margin-right: 0;
  }
}

@media (max-width: 715px) {
  .header__container {
    padding: 10px;
  }

  .header__autocomplete {
    width: 100%;
  }

  .header__input {
    width: 100%;
  }

  .clients {
    padding: 30px 10px 0;
  }

  .clients__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .new-client,
  .delete-box {
    width: 300px;
  }

  .clients-table__thead-row {
    display: flex;
    flex-direction: column;
  }

  .clients-table__thead-th_contacts,
  .clients-table__thead-th_actions {
    display: none;
  }

}
